watch_file flake.nix
use flake

use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

export REPO_ROOT=$(git rev-parse --show-toplevel)

use_sops config.sops.env
